@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


:root {
    --my-color: #fff;
    /* or any other variables/style */
  }
  [data-theme='dark'] {
    --my-color: #000;
  }
  [data-theme='pink'] {
    --my-color: #ffabc8;
  }

  [data-theme="mytheme"] .btn {
    border-width: 2px;
    border-color: black;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    opacity: 0; /* Initially hidden */
    animation: fadeIn 0.4s ease-out forwards; /* Runs once and stays visible */
  }






